<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--MARCUS CONNECTIONSTR-->
    <!--<add name="InfoFlexEntities" connectionString="metadata=&quot;res://*/Info Flex.Models.Infoflex.csdl|res://*/Info Flex.Models.Infoflex.ssdl|res://*/Info Flex.Models.Infoflex.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARCUSCARLS46D5;initial catalog=InfoFlex;user id=sa;password=Admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--RICKARD CONNECTIONSTR-->
    <add name="InfoFlexEntities" connectionString="metadata=res://*/FlexInfo.csdl|res://*/FlexInfo.ssdl|res://*/FlexInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ITM-RICKAM\RKSQLSERVER;initial catalog=InfoFlex; Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>